body {
    background-color: rgba(128, 128, 128, 0.616);
    margin: 50px;
    border: 10px groove black;
  }
  h1 {
    color: black;
    text-align: center;
    font: italic 300% fantasy;
    border: 10px groove  rgba(0, 0, 0, 0.904);
    background-color: white;
   }
   h2 {
   background-color:  white;
   color: black;
   text-align: left;
   border: 10px groove  black;
   }
   div {
    width: 900px;
    padding: 25px;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.616);;
   }

aside {
    background-color: white;
    color: black;
    text-align: center;
    border: 10px groove  black;
}
.contact {
  width: 120px;
    padding: 1px;
    background-color : grey;
    text-align: center;
    font: italic 100% fantasy;
    margin:3px;
    border-top:15px;
    border-bottom:10px;
    border-left:5px;
    border-right:5px;
}
